In [5]:
import pandas as pd
from sklearn.metrics import f1_score

In [2]:
df = pd.read_csv('season_matches.csv', index_col=0)
df.head()

,Team1,Team2,Team1Score,Team1FGM,Team1FGA,Team1FGM3,Team1FGA3,Team1FTM,Team1FTA,Team1OR,...,Team2FTM,Team2FTA,Team2OR,Team2DR,Team2Ast,Team2TO,Team2Stl,Team2Blk,Team2PF,Win
0,1104,1328,71.787879,25.060606,56.848485,7.060606,20.848485,14.606061,21.878788,11.151515,...,12.656250,18.312500,9.218750,28.375000,12.687500,12.187500,5.937500,3.093750,15.750000,1
1,1272,1393,80.617647,28.176471,62.323529,7.411765,22.794118,16.852941,23.705882,12.529412,...,14.090909,20.696970,10.787879,24.000000,12.000000,12.454545,8.272727,4.787879,17.424242,1
2,1437,1266,74.470588,24.705882,56.235294,10.617647,30.088235,14.441176,19.852941,10.500000,...,15.636364,20.606061,9.606061,28.454545,13.636364,13.909091,4.818182,4.272727,18.666667,0
3,1296,1457,73.125000,27.406250,58.687500,6.906250,18.937500,11.406250,15.562500,9.125000,...,13.370370,18.481481,10.518519,28.407407,14.185185,14.962963,4.000000,2.481481,17.962963,1
4,1400,1208,70.750000,25.031250,57.750000,8.500000,24.968750,12.187500,17.187500,9.906250,...,16.000000,22.687500,11.156250,26.781250,13.218750,15.812500,5.781250,5.093750,17.656250,1

In [3]:
columns = list(df.columns.copy())
columns.remove('Win')
columns

['Team1',
 'Team2',
 'Team1Score',
 'Team1FGM',
 'Team1FGA',
 'Team1FGM3',
 'Team1FGA3',
 'Team1FTM',
 'Team1FTA',
 'Team1OR',
 'Team1DR',
 'Team1Ast',
 'Team1TO',
 'Team1Stl',
 'Team1Blk',
 'Team1PF',
 'Team2Score',
 'Team2FGM',
 'Team2FGA',
 'Team2FGM3',
 'Team2FGA3',
 'Team2FTM',
 'Team2FTA',
 'Team2OR',
 'Team2DR',
 'Team2Ast',
 'Team2TO',
 'Team2Stl',
 'Team2Blk',
 'Team2PF']

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df[columns], df['Win'], test_size=0.30, random_state=42)

In [ ]:
from sklearn import svm

clf = svm.SVC(kernel='linear', gamma='scale')
clf.fit(X_train, y_train)

pred = clf.predict(X_test)

In [6]:
f1_score(y_test, pred)

0.6025462876028093

In [7]:
from sklearn import neighbors

clf = neighbors.KNeighborsClassifier(15)
clf.fit(X_train, y_train)
pred = clf.predict(X_test)

f1_score(y_test, pred)

0.5855687411760216

In [8]:
clf = svm.SVC(gamma='scale')
clf.fit(X_train, y_train)
pred = clf.predict(X_test)

f1_score(y_test, pred)

0.5400802730785101

In [9]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=10)
clf = clf.fit(X_train, y_train)
pred = clf.predict(X_test)

f1_score(y_test, pred)

0.6138879313646635

In [6]:
from sklearn.ensemble import ExtraTreesClassifier

clf = ExtraTreesClassifier(n_estimators=10, max_depth=None, min_samples_split=2, random_state=0)
clf.fit(X_train, y_train)

pred = clf.predict(X_test)

f1_score(y_test, pred)

0.594937210315731

In [7]:
from sklearn.ensemble import AdaBoostClassifier

clf = AdaBoostClassifier(n_estimators=100)
clf.fit(X_train, y_train)

pred = clf.predict(X_test)

f1_score(y_test, pred)

0.6239564984299608

In [8]:
from sklearn.ensemble import GradientBoostingClassifier

clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=0)
clf.fit(X_train, y_train)

pred = clf.predict(X_test)

f1_score(y_test, pred)

0.6242164806604495

In [15]:
from sklearn.naive_bayes import GaussianNB

clf = GaussianNB()
clf.fit(X_train, y_train)
pred = clf.predict(X_test)

f1_score(y_test, pred)

0.5677369439071567