In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/ncaa_dataset_outer_join.csv')
df.shape

/usr/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,1,6,10,38,40,44,45,46,47,48,49,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(87504, 56)

In [3]:
common_columns = [
    'Assists',
    'Blocks',
    'DefensiveRebounds',
    'FieldGoalsAttempted',
    'FieldGoalsMade',
    'FreeThrowsAttempted',
    'FreeThrowsMade',
    'OffensiveRebounds',
    'PersonalFouls',
    'Score',
    'Steals',
    'ThreePointersAttempted',
    'ThreePointersMade',
    'Turnovers',
]

team1_columns = []
team2_columns = []

for column in common_columns:
    team1_columns.append(f'Team1{column}')
    team2_columns.append(f'Team2{column}')

In [4]:
teams_dict = {}
n = df.shape[0]

for column in team1_columns + team2_columns:
    teams_dict[column] = [''] * n
teams_dict['Win'] = [''] * n

In [7]:
import random

for i, game in df.iterrows():
    team1 = random.choice(['W', 'L'])
    if team1 == 'W':
        team2 = 'L'
        teams_dict['Win'][i] = 1
    else:
        team2 = 'W'
        teams_dict['Win'][i] = 0
        
    for column in common_columns:
        teams_dict[f'Team1{column}'][i] = game[f'{team1}{column}']
        teams_dict[f'Team2{column}'][i] = game[f'{team2}{column}']

In [8]:
df_teams = pd.DataFrame.from_dict(teams_dict)
df_teams.head()

,Team1Assists,Team1Blocks,Team1DefensiveRebounds,Team1FieldGoalsAttempted,Team1FieldGoalsMade,Team1FreeThrowsAttempted,Team1FreeThrowsMade,Team1OffensiveRebounds,Team1PersonalFouls,Team1Score,...,Team2FreeThrowsAttempted,Team2FreeThrowsMade,Team2OffensiveRebounds,Team2PersonalFouls,Team2Score,Team2Steals,Team2ThreePointersAttempted,Team2ThreePointersMade,Team2Turnovers,Win
0,16.0,0.0,28.0,67.0,29.0,31.0,14.0,17.0,22.0,84.0,...,26.0,17.0,14.0,22.0,92.0,5.0,29.0,11.0,12.0,0
1,22.0,7.0,36.0,66.0,31.0,14.0,11.0,11.0,8.0,80.0,...,7.0,7.0,8.0,15.0,51.0,10.0,16.0,4.0,17.0,1
2,11.0,5.0,22.0,69.0,25.0,21.0,14.0,20.0,18.0,71.0,...,22.0,16.0,10.0,19.0,84.0,7.0,14.0,6.0,9.0,0
3,20.0,6.0,17.0,60.0,27.0,17.0,12.0,14.0,21.0,73.0,...,25.0,18.0,11.0,19.0,79.0,13.0,7.0,3.0,18.0,0
4,17.0,2.0,20.0,64.0,27.0,23.0,15.0,18.0,14.0,76.0,...,20.0,15.0,10.0,19.0,74.0,5.0,21.0,9.0,14.0,1

In [9]:
df_teams.shape

(87504, 29)

In [10]:
for column in common_columns:
    df.drop(labels=[f'W{column}', f'L{column}'], axis=1, inplace=True)

df.shape

(87504, 28)

In [11]:
df_new = pd.concat([df, df_teams], axis=1, sort=False)
df_new.shape

(87504, 57)

In [12]:
df = df_new
df.head()

,ConfAbbrev,Description,Season,DayNum,WTeamID,LTeamID,CRType,CityID,WLocation,NumOTPeriods,...,Team2FreeThrowsAttempted,Team2FreeThrowsMade,Team2OffensiveRebounds,Team2PersonalFouls,Team2Score,Team2Steals,Team2ThreePointersAttempted,Team2ThreePointersMade,Team2Turnovers,Win
0,a_sun,Atlantic Sun Conference,2001.0,121.0,1194.0,1144.0,Regular,4027.0,N,1.0,...,26.0,17.0,14.0,22.0,92.0,5.0,29.0,11.0,12.0,0
1,a_ten,Atlantic 10 Conference,2001.0,121.0,1416.0,1240.0,Regular,4061.0,N,0.0,...,7.0,7.0,8.0,15.0,51.0,10.0,16.0,4.0,17.0,1
2,aac,American Athletic Conference,2001.0,122.0,1209.0,1194.0,Regular,4080.0,N,0.0,...,22.0,16.0,10.0,19.0,84.0,7.0,14.0,6.0,9.0,0
3,acc,Atlantic Coast Conference,2001.0,122.0,1359.0,1239.0,Regular,4340.0,N,0.0,...,25.0,18.0,11.0,19.0,79.0,13.0,7.0,3.0,18.0,0
4,aec,America East Conference,2001.0,122.0,1391.0,1273.0,Regular,4027.0,N,1.0,...,20.0,15.0,10.0,19.0,74.0,5.0,21.0,9.0,14.0,1

In [13]:
df['Win'].sum()

43639

In [16]:
columns = []

for column in df.columns:
    if column.startswith('Team1') or column.startswith('Team2'):
        columns.append(column)
        
for column in columns:
    print(column)

Team1Assists
Team1Blocks
Team1DefensiveRebounds
Team1FieldGoalsAttempted
Team1FieldGoalsMade
Team1FreeThrowsAttempted
Team1FreeThrowsMade
Team1OffensiveRebounds
Team1PersonalFouls
Team1Score
Team1Steals
Team1ThreePointersAttempted
Team1ThreePointersMade
Team1Turnovers
Team2Assists
Team2Blocks
Team2DefensiveRebounds
Team2FieldGoalsAttempted
Team2FieldGoalsMade
Team2FreeThrowsAttempted
Team2FreeThrowsMade
Team2OffensiveRebounds
Team2PersonalFouls
Team2Score
Team2Steals
Team2ThreePointersAttempted
Team2ThreePointersMade
Team2Turnovers

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

for column in columns:
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imr = imp.fit(df[[column]])
    df[column] = imr.transform(df[[column]]).ravel()

X_train, X_test, y_train, y_test = train_test_split(df[columns], df['Win'], test_size=0.30, random_state=42)

In [18]:
from sklearn import svm

clf = svm.SVR(kernel='linear', gamma='scale')
clf.fit(X_train, y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [19]:
pred = clf.predict(X_test)

In [20]:
from sklearn.metrics import r2_score

r2_score(y_test, pred)

-1.1417562568217932

In [21]:
from sklearn import linear_model

reg = linear_model.Lasso(alpha=0.1)
reg.fit(X_train, y_train)

Lasso(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [22]:
pred = reg.predict(X_test)

In [23]:
r2_score(y_test, pred)

-0.0002140065965166027

In [24]:
from sklearn.linear_model import ElasticNetCV

regr = ElasticNetCV(cv=5, random_state=0)
regr.fit(X_train, y_train)

ElasticNetCV(alphas=None, copy_X=True, cv=5, eps=0.001, fit_intercept=True,
             l1_ratio=0.5, max_iter=1000, n_alphas=100, n_jobs=None,
             normalize=False, positive=False, precompute='auto', random_state=0,
             selection='cyclic', tol=0.0001, verbose=0)

In [25]:
pred = regr.predict(X_test)

r2_score(y_test, pred)

0.06377585025442123

In [26]:
reg = linear_model.Ridge(alpha=.5)
reg.fit(X_train, y_train)

Ridge(alpha=0.5, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [27]:
pred = reg.predict(X_test)

r2_score(y_test, pred)

0.05900762717471841